.page-header{
    width: 100%;
    position: absolute; 
}

.page-header__container{
   
        display: flex;
        align-items: center;
       
                 
}

.open-btn{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: 0;
    
    

    @media screen and (min-width:768px) {
        display:none;
    }

}