.page-header{
    width: 100%;
    position: absolute;

    padding-top: 22px;
    padding-bottom: 22px;

    @media screen and (min-width:1200px) {
        padding-top: 32px;
    padding-bottom: 32px;
    }
    
}

.page-header__container{
   
        display: flex;
        align-items: center;
       
                 
}

.open-btn{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: 0;
    
    

    @media screen and (min-width:768px) {
        display:none;
    }

}